@media screen and (min-width: 0) {
    body {
        background: blue;
    }
    .logo {
        padding-left: 1rem;
    }
    .menu {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
    }
    .menu__lista {
        visibility: hidden;
    }
    .ativo {
        margin-right: 5px;
    }
    .header__textos,
    .descricao {
        width: 250px;
    }
    .header__perfil__imagem {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }
    .header__conteudo {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px) {
    body {
        background: yellow;
    }
    .logo {
        padding-left:0;
    }
    .menu {
        justify-content: space-between;
        flex-direction: row;
    }
    .header__textos,
    .descricao {
        width: 300px;
    }
    .header__perfil__imagem {
        margin: 15px 10px;
        width: 200px;
        height: 200px;
    }
    .header__conteudo {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    body {
        background: green;
    }
    .logo {
        padding-left: 5rem;
    }
    .menu {
        flex-direction: row;
        justify-content: space-between;
    }
    .header__textos,
    .descricao {
        margin: 10px 0;
        width: 400px;
    }
    .header__perfil__imagem 
    {
        margin: 15px 0;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background: orange;
    }
    .menu__item {
        flex-direction: row;
    }
    .menu__lista {
        padding: .5rem;
        visibility: visible;
    }
    .header__textos,
    .descricao {
        width: 500px;
    }
     .header__perfil__imagem {
        margin: 40px;
        margin-left: 10px;
     }
}