@media screen and (min-width: 0) {
    .logo {
        padding-left: .0rem;
        width: 200px;
    }
    .menu {
        margin-top: 10px;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .menu__item {
        justify-content: flex-end;
    }
    .menu__lista {
        visibility: hidden;
    }
    .ativo {
        margin-right: 5px;
    }
    .header__textos,
    .descricao,
    .descricaoheader {
        width: 250px;
    }
    .sobre_textos {
        padding-right: 0;
    }
    .header__perfil__imagem {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }
    .header__conteudo {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 10px;
    }
    .skills,
    .hobbies {
    flex-direction: column;
    }
    .quadrado {
        margin: 10px 0;
    }
    .formacoes_alinhado {
        flex-direction: column;
    }
    .projetos_article {
        display: flex;
        flex-direction: column;
    }
    .projeto_imagem.direita,
    .projeto_imagem.esquerda {
        width: 300px;
    }
    .contato_imagem {
        display: none;
    }
    .btn_contato {
        width: 100%;
        height: 50px;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        padding-left:0;
    }
    .menu {
        justify-content: space-between;
        flex-direction: row;
    }
    .header__textos,
    .descricao {
        width: 300px;
    }
    .header__perfil__imagem {
        margin: 15px 10px;
        width: 200px;
        height: 200px;
    }
    .header__conteudo {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .descricaoheader {
        width: 450px;
    }
     .sobre_textos {
        margin: 20px 0;    
        padding-right:16rem;
    }
    .skills,
    .hobbies {
    flex-direction: row;
    margin: 20px 0;
    }
    .quadrado {
        margin-left: 20px;
    }
    .formacoes_alinhado {
        flex-direction: row;
    }
    .projetos_article {
        display: flex;
        flex-direction: column
    }
    .projeto_imagem.direita,
    .projeto_imagem.esquerda {
        width: 500px;
    }
    .projeto_imagem.esquerda {
        margin-right: 30px;
    }
    .contato_imagem {
        display: none;
    }
    .btn_contato {
        width: 100%;
        height: 50px;
    }
}

@media screen and (min-width: 992px) {
    .logo {
        padding-left: 5rem;
    }
    .menu {
        flex-direction: row;
        justify-content: space-between;
    }
    .header__textos,
    .descricao {
        margin: 10px 0;
        width: 400px;
    }
    .header__perfil__imagem 
    {
        margin: 15px 0;
    }
    .descricaoheader {
        width: 450px;
    }
     .sobre_textos {
        margin: 20px 0;    
        padding-right:16rem;
    }
      .projetos_article {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-gap: 20px;
    }
    .projeto_imagem.direita,
    .projeto_imagem.esquerda {
        width: 500px;
    }
    .contato_imagem {
        display: block;
    }
    .titulo_projeto {
        width: 200px;
    }
    .projetos_textos {
        margin-right: 0px;
    }
    .projetos_article.direita .projetos_textos {
        margin-right: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .menu__item {
        flex-direction: row;
    }
    .menu__lista {
        padding: .5rem;
        visibility: visible;
    }
    .header__textos,
    .descricao {
        width: 500px;
    }
     .header__perfil__imagem {
        margin: 40px;
        margin-left: 10px;
     }
     .descricaoheader {
        width: 450px;
    }
     .sobre_textos {
        margin: 20px 0;    
        padding-right:16rem;
    }
     .projetos_article {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-gap: 20px;
    }
    .projeto_imagem.direita,
    .projeto_imagem.esquerda {
        width: 500px;
    }
    .contato_imagem {
        display: block;
    }
}