/* GERAL */
body {
    width: 98.7vw;
    height: 100vh;
}
main {
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
 }
.geral {
    height: auto;
    width: 100%;
}
.blue {
    background-color: #c2ffff;
}
.white {
    background-color: #fafafa;
}
/* HEADER E MENU */
.header {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}
.logo {
    cursor: pointer;
    font-size: 16px;
    padding-left: 7rem;
    font-weight: bold;
}
.logo:hover {
    color: #7700ff;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .3rem;
}
.menu__item {
    display: flex;
}
.menu__link {
    text-decoration: none;
    color: #333333;
}
.menu__link:hover {
    color: #7700ff;
}
.menu__link.ativo {
    font-weight: bold;
    visibility: visible;
}
.header__textos {
    font-size: 2rem;
    font-weight: bold;
}
.descricao {
    line-height: 1;
    font-size: .9rem;
    font-weight: 100;
    color: grey;
    margin: 15px 0;
}
.rede-social {
    color: #333333;
    margin-right: 20px;
    font-size: 16px;
    text-decoration: none;
}
.imagem_seta {
    margin-left: 5px;
    width: 10px;
    height: 10px;
}
.header__perfil__imagem {
    border-radius: 50%;
}
.header__perfil__imagem:hover {
    margin-left: 30px;
    transform: scale(1.2);
    cursor: pointer;
}
/* SECTION SOBRE MIM */
.sobre_textos {
    margin: 20px 0;    
    padding-right:16rem;
}
.titulo_padrao {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #4d4d4d;
}
/* SECTION SKILLS */
.skills,
.hobbies {
    display: flex;
    margin: 20px 0;
}
.quadrado {
    margin-left: 20px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #ffffff;
}
.quadrado_titulo {
    font-weight: bold;
    margin-top: 5px;
}
/* SECTION FORMAÇÃO ACADÊMICA */
.quadrado_formacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 180px;
    height: 160px;
    border-radius: 5px;
    background-color: #ffffff;
}
.formacoes_alinhado {
    display: flex;
}
.imagem_formacao {
    width: 150px;
}
.textos_formacao {
    margin-left: 20px;
    margin-top: -12px;
}
.titulo_formacao {
    font-weight: bold;
    color: #676666;
    font-size: 16px;
    margin-bottom: 5px;
}
.descricao_formacao {
    font-size: 12px;
}
/* SECTION PROJETOS */
